* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 50px 0 50px 0;
}

h2 {
    text-align: left;
    margin: 20px;
    text-transform: uppercase;
}

fieldset {
    padding: 20px;
    border: none;
    margin: 10px auto;
    background: blue;
    color: #fff;
    min-width: 400px;
    max-width: 950px;
    width: 70%;
}

div {
    justify-content: space-between;
    align-items: flex-start;
}

label {
    font-size: 18px;
}

.question {
    padding: 5px;
    margin: 15px;
    display: flex;
    justify-content: left;
}

input {
    display: inline;
    margin-right: 10px;
}

section {
    display: none;
}

.ativo {
    display: block;
    animation: question-animation 0.3s forwards;
}

span {
    font-size: 40px;
}

@keyframes  question-animation{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
