* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 50px 0 50px 0;
}

h2 {
    text-align: left;
    margin: 20px;
    text-transform: uppercase;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

fieldset, .section-results {
    padding: 20px;
    border: 2px solid #323330;
    margin: 10px auto;
    background: #f0db4f;
    color: #fff;
    min-width: 400px;
    max-width: 1200px;
    width: 70%;
    color: #000;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 10px black;
}

div {
    justify-content: space-between;
    align-items: flex-start;
}

label {
    font-size: 18px;
}

.question {
    padding: 5px;
    margin: 15px;
    display: flex;
    justify-content: left;
}

input {
    display: inline;
    margin-right: 10px;
}

section {
    display: none;
}

.ativo {
    display: block;
    animation: question-animation 0.3s forwards;
}

span {
    font-size: 40px;
}

.btn-submit {
    padding: 10px;
    border: none;
}

.previous {
    text-align: left;
}

.navegacao {
    display: flex;
    justify-content: space-between;
}

@keyframes  question-animation{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.btn-submit {
    padding: 10px;
    border: 1px solid #323330;
    text-align: center;
    background: #f0db4f;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 5px;
    width: 150px;
  }
  
  .btn-submit:hover {
    background: #ffeb6b;
  }
  .btn-submit:active {
    background: #beae40;
  }

.ver-resultado {
    background: #212120;
}

.section-results {
    width: 30%;
    text-align: center;
}
