* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Link sobre mim */

a {
    text-decoration: none;
    color: #323330;
}

a:hover {
    animation: sobre 3s linear infinite;
}

@keyframes sobre {
    0% {
        color: #323330;
    }

    25% {
        color: #f0db4f;
    }

    50% {
        color: #323330;
    }

    75% {
        color: #f0db4f;
    }

    100% {
        color: #323330;
    }

}

.sobre {
    font-size: 20px;
    top: 15px;
    right: 10px;
    position: absolute;
}

.sobre-results {
    animation: sobre 3s linear infinite;
}

/* Fim do link */

/* Setas */

fieldset img {
    width: 30px;
    cursor: pointer;
}

.next {
    position: absolute;
    right: 0;
}

/* fim das setas */

/* titulos e questões */

h1 {
    text-align: center;
    margin: 50px 0 50px 0;
}

h2 {
    text-align: left;
    margin: 20px 20px 35px 20px;
    text-transform: lowercase;
    font-size: 23px;
}

h2::first-letter {
    text-transform: uppercase;
}

/* fim dos titulos e questões */

/* Inicio da seção das questões */

form {
    margin: 20px;
}

fieldset, .section-results {
    padding: 20px;
    border: 2px solid #323330;
    margin: 10px auto;
    background: #f0db4f;
    color: #fff;
    min-width: 340px;
    max-width: 930px;
    width: 90%;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px black;
}

label {
    font-size: 18px;
}

.question {
    padding: 5px;
    margin: 15px;
    display: flex;
    justify-content: left;
}

input {
    display: inline;
    margin-right: 10px;
}

section {
    display: none;
    position: relative;
}

section:first-child {
    padding-bottom: 47px;
}

.ativo {
    display: block;
    animation: question-animation 0.3s forwards;
}

.ver-resultado {
    background: #292727;
}

.section-results {
    font-size: 18px;
    text-align: center;
    animation: question-animation 0.3s forwards;
}

@keyframes  question-animation{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Fim da seção das questões */

/* inicio do botão */

.btn-submit {
    padding: 10px;
    border: none;
}

.btn-submit {
    padding: 10px;
    border: 1px solid #323330;
    text-align: center;
    background: #f0db4f;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 5px;
    width: 150px;
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background: #ffeb6b;
  }
  .btn-submit:active {
    background: #beae40;
  }

/* fim do botão */  

@media (max-width: 600px) {
    fieldset, .section-results {
        width: 340px;
    }

    .sobre {
        position: relative;
    }
}
